@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');



.input {
    width: 98%;
    opacity: 15%;

}
.formulario {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 30px;
    padding: 1%;
    
    
    border-bottom: 1px solid gray;
    justify-content: center;
}
label{
    margin: 0%;
}
.enviar{
    height: 2%;
    width: 8%;
    font-size: 25px;
    margin-left: 10%;
}

