@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

*{
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    
    
    
}
.header{
    
    height: 5vh;
    border-left: 1px solid gray;
    font-size: 10px;
    margin: 10px;
}
.main{
    display: flex;
}
.menu{
    border-right: 1px solid gray;
    width: 20%;
}
.nav{
    
    display: flex;
    height: 15vh;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid gray;
    border-top:1px solid gray;
    font-size: 20px;
    margin-left: auto;

}
.menu{
    width: 15%;
    border-top: 1px solid gray;
    height: 100vh;
}
.icon1{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 100%;
    width:80%;
    background-color: black;
      
}
.section2{
    display: flex;
}
.verificado{
    margin-right: 1vw;
    width: 20px;
    height: 20px;
   
}
.edit{
    position: absolute; 
    top: 25vh;
    left: 10vw;
    cursor: pointer;
}
.h1{
    width: 100%;
    margin-top: -2%;
    margin-bottom: 2px;
    margin-left: 2vw;
    font-size: 1.5em;
    text-align: center;
    
    
}
.ul1{
    width: 20%;
    margin: 10px;
    margin-left: 0;
    border-right: 0;
    list-style: none;
    
    
    
}
.ul2{
    width: 20%;
    margin: 10px;
    margin-left: 0;
    border-right: 0;
    list-style: none;
    border-left: 1px solid grey;
    
}
.ul3{
    width: 20%;
    margin: 10px;
    list-style: none;
    border-left: 1px solid gray;
    border-right: 0;
    margin-left: 0;
}
.main{
    display: flex;
}
.section{
    border-bottom: 1px solid gray;
    height: 1px;
    
}

.li3{
    margin: 20px;
    list-style: none;
    font-size: 25px;
    margin-left: 40px;
    cursor: pointer;
}